/**
 * created 2020.08.31
 * @author ricky zhangqingcq@foxmail.com
 */

@import "../common/color";
@import "../common/size";

.formModal {
  .ivu-modal {
    .ivu-modal-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .ivu-modal-body {
        position: absolute;
        top: 51px;
        bottom: 57px;
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      .ivu-modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }

  &.hideFooter {
    .ivu-modal {
      .ivu-modal-content {
        .ivu-modal-body {
          height: calc(~'100% - 50px')
        }
      }
    }
  }

  .ivu-btn{
    &.modal-save-btn {
      background-color: @primary;
      color: #fff;
      width: @btnW;

      &:hover {
        background-color: #fff;
        color: @primary;
        border-color: @primary;
      }
    }

    &.modal-cancel-btn {
      width: @btnW;
    }
  }
}