.pagePro {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&.pageProDefault {
		.ivu-page-simple .ivu-page-simple-pager input {
			height: 32px;
		}
	}
	.ivu-page {
		display: inline-block;
	}

	.pageTotal {
		margin-right: 10px;
	}

	.pageProSize {
		display: inline-block;
		margin-left: 15px;
	}
}
