/**
 * created 2020.07.06
 * @author ricky zhangqingcq@foxmail.com
 */

@import "../common/color";

.contentX {
  padding-left: 15px;
}

.arrowA {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  &:before {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    top: 12px;
    border-top: 1px dashed #ccc;
  }
  .btA {
    border: 1px dashed #ccc;
    border-radius: 20px;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    background-color: #fff;
    position: relative;
    color:#888;
    &:hover {
      color: @primary;
      cursor: pointer;
    }
  }
}