/**
 * created 2020.07.03
 * @author ricky zhangqingcq@foxmail.com
 */

.tabSetF {
  position: relative;
  display: inline-block;

  .tabSetBt {
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
  }

  .ivu-checkbox-disabled + span {
    color: inherit;
  }
}

.tabSetCard {
  z-index: 10000;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;

  > .ivu-checkbox-group {
    padding: 1px 0;
  }

  .icon-r-save {
    position: relative;
    top: 1px;
    margin-right: 4px;
  }

  .topCheck {
    border-bottom: 1px solid #e9e9e9;
    line-height: 40px;
    padding: 0 10px 0 30px;
  }

  .setItem {
    display: block;
    padding: 3px 0 3px 30px;
    line-height: 24px;
    margin: 3px 0;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
}
