@import "../common/size";
@import "../common/color";

.wellCardR {
  height: 100%;
  border: 1px solid @titleBg;
  color: @textColor;

  .panelHeader {
    background-color: @titleBg;
    overflow: hidden;
    padding: 0 10px;
    height: @headerH;
    line-height: @headerH;
    width: 100% !important;
    box-sizing: border-box;
    .popHeaderBt {
      color: @textColor;
      border-radius: 0;
      font-weight: bold;
      box-shadow: none !important;

      &:before {
        content: '';
        display: inline-block;
        height: calc(100% + 1px);
        width: 1px;
        background-color: #fff;
        left: 0;
        top: 0;
        opacity: 1;
      }
    }


    .headerBt {
      border: none;
      padding: 0 10px 0 20px;
      box-sizing: border-box;
      position: relative;
      top: -1px;
      color: @textColor;
      border-radius: 0;
      font-weight: bold;
      height: @headerH;
      line-height: 30px;
      box-shadow: none !important;

      &:hover {
        background-color: rgba(228, 228, 228, 0.3);
      }

      &:before {
        content: '';
        display: inline-block;
        height: calc(100% + 1px);
        width: 1px;
        background-color: #fff;
        left: 0;
        top: 0;
        opacity: 1;
      }

      & + .headerBt {
        margin-left: 4px;
      }

      &.withIcoL {
        padding-left: 16px;
      }

      > span {
        position: relative;
        top: -2px;
        display: inline-block;
        height: 27px;
        line-height: inherit;

        > i {
          font-size: 14px;
        }
      }
    }
  }

  .noBorderTable {
    .ivu-table-header {
      &:after {
        background-color: @titleBg;
      }

      th {
        background-color: @titleBg;
      }
    }
  }
}