@import 'variables.less';

.linkM {
	color: @vueColor;
	cursor: pointer;

	&:hover {
		opacity: 0.85;
	}
}

.examplePageL {
	padding: 15px;
  height: 100%;
  overflow: auto;

	mark {
		color: @markColor;
	}
}
