@font-face {
	font-family: 'iconfont';
	src:
		url('iconfont/iconfont.woff2?t=1592796826520') format('woff2'),
		url('iconfont/iconfont.woff?t=1592796826520') format('woff'),
		url('iconfont/iconfont.ttf?t=1592796826520') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont/iconfont.svg?t=1592796826520#iconfont')
			format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*关闭按钮*/
.iconchenghao:before {
	content: '\e604';
}
