@font-face {
	font-family: 'iconfont';
	src:
		url('iconfont/iconfont.woff2?t=1714276018179') format('woff2'),
		url('iconfont/iconfont.woff?t=1714276018179') format('woff'),
		url('iconfont/iconfont.ttf?t=1714276018179') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-r-save:before {
	content: '\e603';
}

.icon-r-close:before {
	content: '\e604';
}
