@primary: #333333;
@warningColor: #ff9900;
@tableTheadBg: #f8f8f9;
@modalMaskBg: rgba(55, 55, 55, 0.6);
@closeTimesBg: rgba(0, 0, 0, 0.05);
@textColor: #515a6e;
@titleBg: #c5c5c5;
@listHoverBg: #f3f3f3;
@borderColor: #dcdee2;
@infoBlue: #169bd5;
@errorColor: #ed4014;
@jsonViewKeyColor: #eaf3ff;
@sideMenuColor: #141932;
@disabledColor: #777;
