@import "color";

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.oh {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.inlineBlock {
  display: inline-block;
}

/*$swal弹框*/
.swalBoxX {
  .swal-footer {
    text-align: center;

    .swalCancelBt {

    }

    .swalConfirmBt {
      background-color: $primary;
      color: #fff;
      box-shadow: none;

      &:not([disabled]):hover {
        opacity: .85;
      }
    }
  }
}

/*messageBox对话框*/
.customMessageBox {
  position: relative;
  top: -16px;
  left: -20px;
  width: calc(100% + 40px);

  > .containerN {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: -90px;
    background-color: #fff;
    border-radius: 3px;

    > .titleN {
      height: 40px;
      width: 100%;
      line-height: 40px;
      font-size: 15px;
      font-weight: bold;
      padding-left: 15px;
      border-bottom: 1px solid #e8eaec;

      .closeN {
        padding: 4px 4px 3px 3px;
        box-shadow: none;
      }
    }

    > .contentN {
      padding: 5px 16px;
      overflow: auto;
      height: calc(100% - 80px);
    }

    > .footerN {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 36px;
      border-top: 1px solid #e8eaec;

      .okBtN {
        box-sizing: border-box;
        width: 100px;
        background-color: $primary;
        color: #fff;

        &:hover {
          color: $primary;
          background-color: #fff;
          border-color: $primary;
        }
      }

      .cancelBtN {
        box-sizing: border-box;
        width: 100px;
        margin-left: 10px;

        &:hover {
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }
}

/*基于Modal的全屏图片预览组件*/
.previewModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .previewModalInner {
    position: relative;

    > img {
      max-height: 92vh;
      max-width: 92vw;
    }

    .previewModalDelete {
      position: absolute;
      right: -20px;
      top: -20px;
      cursor: pointer;
      color: #fff;

      &:hover {
        color: $warningColor;
      }
    }
  }
}

/*原生DOM全屏图片预览组件*/
.fullScreenImgByDom {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100000000;
  background-color: rgba(0, 0, 0, .4);
  padding: 20px;

  > img {
    max-width: 100%;
    max-height: 100%;
  }

  .iconfont {
    cursor: pointer;
    vertical-align: top;
    position: relative;
    top: -4px;
    color: #fff;
    background-color: rgba(255, 255, 255, .25);
  }
}