@closeTimesW: 20px;
@hoverOpacity: .85;
@headerH: 40px;

@CKGFistW: 160px;
@CKGSecondW: 160px;
@CKGBorderColor: #ddd;
@CKGContentLeftPadding: 20px;
@CKGItemPadding: 10px;

@btnW: 100px;
@formGroupBtnW: 58%;