/*图片预览组件关闭按钮宽度*/
@closeTimesW: 20px;
/*按钮鼠标悬浮透明度变化*/
@hoverOpacity: .85;
/*顶部条高度，如：fullScreenPop、btTablePage、checkboxGroupXXClass、wellCard*/
@headerH: 40px;
/*Tabs顶部条高度*/
@tabsHeadBarH: @headerH;

/*checkboxGroupXXClass样式*/
@CKGFistW: 160px;
@CKGSecondW: 160px;
@CKGBorderColor: #ddd;
@CKGContentLeftPadding: 20px;
@CKGItemPadding: 10px;

/*formModal保存和取消按钮*/
@btnW: 100px;
@formGroupBtnW: 58%;